@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

.dancing {
  font-family: "Dancing Script", cursive;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
